* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
}

:root {
  --color-vang: #d9aa00;
  --color-bule: #0f60ff;
  --color-green: #278a32;
  --color-red: #fe4444;
  --color-black: #000000;
  --color-white: #ffffff;
  --wleft: 250px;
  --sideBar-bg: #edfcf3;
  --p-container-header: 20px 40px;
  --p-container: 40px;
  --box--shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  --box-shadow-secon: 0px 0px 4px #7f7f7f18;
  --border-secon: 1px solid #e9e7fe;
  --border-radius: 5px;
}

ul>li>a {
  text-decoration: none;
}

main>main h2 {
  padding: 10px 0px;
  font-size: 22px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icons>div>img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.icon-bell {
  position: relative;
}

.notification-dot {
  position: absolute;
  top: 3px;
  right: 5px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}

/* Khung bao ngoài cho sidebar và nội dung */

/* sidebar */
.layout_flex {
  background-color: #fafafa;
  position: relative;
  display: flex;

  .layout-left {
    position: sticky;
    width: var(--wleft);
    top: 0;
    left: 0;
    background-color: var(--sideBar-bg);
    height: 100vh;
    padding: 20px 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;

    header {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;

      >.logo {
        width: 100px;
        object-fit: cover;
        overflow: hidden;
      }
    }

    >nav {
      padding: 10px 10px;
      position: sticky;
      top: 0;
      overflow-y: auto;
      margin: 0;

      >ul {
        padding: 0px 5px;

        >li>a {
          white-space: nowrap;
        }

        >li>a:link,
        a:visited {
          border: none;
          flex: 1;
          font-size: 16px;
          color: #05291c;
          padding: 10px 0 10px 20px;
          text-align: center;
          font-weight: 500;
          display: flex;
          justify-content: flex-start;
          width: 100%;
          box-sizing: border-box;
          gap: 10px;
        }

        >li>a.active {
          flex: 1;
          font-size: 16px;
          font-weight: 600;
          color: black;
        }

        >li>a:hover {
          color: #05291c;
          opacity: 1;
        }

        >li>a>i {
          width: 30px;
          margin-right: 10px;
          text-align: left;
        }
      }
    }

    >nav::-webkit-scrollbar {
      display: none;
    }
  }

  >.layout-right {
    flex: 1;

    header {
      padding: var(--p-container-header);
      box-shadow: 0 0 32px rgba(41, 48, 66, 0.1);
      background-color: #ffffff;
      position: sticky;
      z-index: 1;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      >.left {
        display: flex;
        align-items: center;
        gap: 10px;

        h1 {
          font-size: 20px;
          font-weight: 600;
          color: #05291c;
        }

        >.btn-nav {
          cursor: pointer;
          transition: transform 0.3s ease-in-out;
          font-size: 24px;

          &:hover {
            color: #05291c;
          }
        }
      }

      >.right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        >.tracsion {
          position: relative;
          display: flex;
          align-items: center;

          >.noti_donghang {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 30px;
            height: 30px;

            >a {
              .noti_red {
                position: absolute;
                display: flex;
                justify-content: center;
                top: -5px;
                right: -6px;
                width: 17px;
                height: 17px;
                border-radius: 50%;
                background-color: red;

                >span {
                  text-align: center;
                  align-self: center;
                  font-size: 12px;
                  color: white;
                  font-weight: 400;
                }
              }

              i {
                font-size: 24px;
              }
            }
          }
        }

        >.acc-container {
          >.first {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;

            >.avatar {
              width: 35px;
              height: 35px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          >.account-menu {
            position: absolute;
            right: 10px;
            width: 250px;
            background-color: #ffff;
            color: #575478;
            border-radius: 2px;
            display: none;
            box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
            z-index: 1000;
            padding: 8px 0px;

            >p {
              padding: 5px 24px;
              font-weight: 400;
            }

            >div>ul>li>a {
              padding: 5px 24px;
              display: block;
              font-weight: 400;
              color: #575478;

              >i {
                padding-right: 5px;
                color: #575478;
              }
            }

            >div>ul>li:hover>a {
              border-radius: 2px;
              color: black;
              flex: 1;
              border-radius: 5px;
            }

            >.drop-divider {
              border: 1px solid rgb(0, 0, 0, 0.175);
              margin: 10px 0px;
            }
          }

          >.account-menu.active {
            display: block;
          }

          >a i {
            font-size: 20px;
            color: rgb(249, 113, 113);
          }

          >a i:hover {
            font-size: 20px;
            color: rgb(255, 75, 75);
          }
        }
      }
    }
  }
}

.layout-content {
  padding: var(--p-container);
}

/* main */
.alert-dasboarh {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding: 20px 0;
}

.box {
  background-color: red;
  width: 100%;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  >a {
    text-decoration: none;

    >p {
      color: #1dac6b;
    }
  }

  >p {
    color: #1dac6b;
  }
}

.alert-red {
  position: relative;
  border-left: 5px solid #1dac6b;
}

.fl {
  display: flex;
  align-items: center;
}

.alert-red>a>.red {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
}

.box1 {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border: var(--border-secon);
  box-shadow: var(--box-shadow-secon);
  width: 100%;
  border-radius: var(--border--radius);

  >div {
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    >span {
      color: #8b909a;
      font-size: 16px;
    }

    >p {
      font-size: 22px;
    }

    >.new_red {
      display: flex;
      justify-content: space-between;
      align-items: center;

      >span {
        color: #8b909a;
        font-size: 16px;
      }

      >div {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: var(--color-red);
      }
    }

    >.new_ico {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
    }
  }
}

.sumvalue h3,
.sumvalue p {
  margin: 10px;
  padding: 0;
}

.countsl {
  font-size: 36px;
  font-weight: bold;
  color: #1dac6b;
}

.count-tong {
  font-size: 36px;
  font-weight: bold;
  color: rgb(240, 16, 16);
}

.thongke {
  display: flex;
  gap: 10px;
  align-items: center;

  >h2 {
    font-size: 22px;
  }

  select {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    width: 150px;
    outline: none;

    &:hover {
      border: 1px solid var(--color-green);
    }
  }
}

.container-productTop {
  display: flex;
  gap: 20px;

  >.left-product {
    width: 70%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: var(--box-shadow-secon);
    border-radius: var(--border-radius);
    border: var(--border-secon);
  }

  >.right-product {
    width: calc(30% - 20px);
    padding: 20px;
    box-shadow: var(--box-shadow-secon);
    border-radius: var(--border-radius);
    border: var(--border-secon);
    background-color: white;
  }
}

.producttop {
  padding-bottom: 20px;

  h3 {
    padding: 20px 10px;
    font-size: 20px;
  }
}

.grid-container {
  grid-template-columns: 30px auto 30px;
}

.grid-container>.name-product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  >.left img {
    width: 50px;

    object-fit: cover;
    overflow: hidden;
  }
}

.grid-container>.textLeft {
  justify-content: left;
  text-overflow: ellipsis;
}

.grid-container_var>.textLeft {
  display: flex;
  justify-content: left;
}

.grid-container_var {
  grid-template-columns: 50px minmax(150px, 1fr) 150px 100px 80px;
}

.grid-container>div,
.grid-container_var>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracsic {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 22px;
  color: #8b909a;
}

.grid-container>div>img,
.grid-container_var>div>img {
  height: 60px;
  width: auto;
  object-fit: cover;
  overflow: hidden;
}

.grid-container__user {
  grid-template-columns: 50px 1fr 80px;

  .left {
    text-align: center;
  }

  .right {
    text-align: center;

    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      object-fit: cover;
      overflow: hidden;
    }
  }
}

.grid-container__user>.usad {
  align-self: center;
  overflow-wrap: break-word;
  white-space: normal;
}

.page-main {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(81, 81, 81, 0.1);
}

.header-filter-shared>ul {
  display: flex;
  gap: 2px;
  font-size: 16px;

  >li {
    >a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 10px 15px;
      margin-left: 5px;
      margin-right: 5px;

      &:hover {
        background-color: #f6fff7;
      }
    }
  }
}

.header-filter-shared>ul>li>a:hover {
  color: #4caf50;
}

.header-filter-shared>ul li a.active {
  color: #1dac6b;
  border-bottom: 3px solid #008f24;
  font-weight: 600;
}

.sr-container input[type="text"] {
  background-color: #ffffff;
  border: none;
  outline: none;
  height: 20px;
  width: 300px;
}

.sr-container:hover {
  border: #4caf50 solid 1px;
}

.sr-container:focus-within {
  border: #4caf50 solid 1px;
}

/* điều chỉnh lại height của input */
.sr-container {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #e9e7fe;
  padding: 5px 10px;
  height: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
}

.sr-container i {
  color: #818181;
}

/*TODO:  table zone start */
.grid_table_th_shared {
  display: grid;
  margin-top: 10px;
  gap: 10px;
  font-weight: 600;
  min-height: 60px;
  border-bottom: 1px solid #d7d7d7;
  font-weight: bold;
  padding: 10px 0;
  align-items: center;
  justify-items: center;
}

.grid_table_tb_shared {
  display: grid;
  background-color: white;
  border-bottom: 1px solid #e9e7fe;
  gap: 10px;
  padding: 10px 0;
  min-height: 80px;
  align-items: center;
  justify-items: center;
  font-size: 14px;

  &:hover {
    background-color: #f1f3f5;
  }
}

/* danh muc có danh mục con lồng trongtrong */
.grid_table_th_shared_sb {
  display: grid;
  gap: 5px;
  font-weight: 500;
  min-height: 60px;
  border-bottom: 1px solid #dddddd;
  font-weight: bold;
  align-items: center;
  justify-items: center;
}

.grid_table_tb_shared_sb {
  display: grid;
  border-bottom: 1px solid #dddddd;
  gap: 5px;
  align-items: center;
  justify-items: center;
  min-height: 80px;

  &:hover {
    background-color: #f1f3f5;
    cursor: pointer;
  }
}

/* layout grid  */
.grid-products-layout {
  grid-template-columns: 40px 2fr 30px 90px 90px 80px 110px 70px 125px 80px 120px;
}

.grid-order-layout {
  grid-template-columns: 70px 150px 150px repeat(2, 100px) 1fr repeat(2, 100px);
}

.grid-userManager-layout {
  grid-template-columns: 50px 270px 80px 120px 90px 110px auto 100px;
}

.grid-post-layout {
  grid-template-columns: 40px 200px auto 70px 90px 80px 138px 100px 120px 130px;
}

.grid-reviews-layout {
  grid-template-columns: 50px 360px minmax(100px, 2fr) 150px 90px;
}

.grid-discount-layout {
  grid-template-columns: 30px auto auto 90px 120px 120px 130px 90px;
}

.grid-category-layout {
  grid-template-columns: 100px 100px 450px 300px 1fr;
}

.grid-categorySub-layout {
  grid-template-columns: 100px 1fr 250px 150px 100px 100px 100px 100px;
}

.grid-catepost-layout {
  grid-template-columns: 40px 1fr 1fr 1fr 100px 150px;
}

.grid-brand-layout {
  grid-template-columns: 50px 1fr 200px 200px 150px 200px 100px;
}

.grid-comment-layout {
  grid-template-columns: 50px 150px 70px 300px 1fr 100px 100px;
}

.grid-banner-layout {
  grid-template-columns: 60px 120px 150px 250px 180px 1fr 60px 90px;
}

.grid-payment-layout {
  grid-template-columns: 40px 1fr 1fr 1fr 100px 150px;
}

.grid-admin-layout {
  grid-template-columns: 270px 80px 80px 100px 70px 80px 1fr 120px;
}

.grid-suborder-layout {
  grid-template-columns: 100px 120px 2fr 120px 120px 200px;
}

/*TODO: table zone end */

/* ta */

/*  */
form.xs-us select {
  padding: 5px;
  margin: 0;
  width: 180px;
  height: 30px;
  font-size: 14px;
  border: none;
}

form.xs-us {
  border-radius: 2px;
}

.cr-sp>a,
.cr-sp>button {
  display: flex;
  background-color: #278a32;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 4px #75757524;
  font-size: 16px;
}

.cr-sp>a>i,
.cr-sp>button>i {
  margin-right: 5px;
  font-size: 18px;
}

.dms_shared {
  margin: 0px 70px;
}

.ql-editor img,
.ql-editor iframe {
  max-width: 100%;
  height: auto;
}

.ql-editor iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.custom-select {
  form {
    /* padding: 0 10px; */

    select {
      background: none;
      border: none;
      color: #000000;
      padding: 0;
      font-weight: bold;
      outline: none;
    }
  }
}

.title-post-detail {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.header-filter-shared {
  display: flex;
  justify-content: space-between;
}

.flex-sort-status {
  display: flex;
  gap: 20px;
  padding: 10px 0;

  >.sort-cate {
    width: 70%;

    input {
      width: 100%;
    }
  }

  >.status-cate {
    width: calc(30%-20px);
  }
}

/* phuoc */
.icon-status-btns {
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  transition-duration: 200ms;
  background: none;
}

.icon-status-mount {
  color: green;
}

.icon-status-unmount {
  color: gray;
}

.hover_scale_btn:hover {
  scale: 1.2;
  transition-duration: 300ms;
  cursor: pointer;
}

.time-km {
  display: flex;
  gap: 10px;
  justify-content: space-between;

}

/* DUY */

/*  */

.content-html-wrapper {
  max-width: 100%;
  overflow-x: auto;
  /* cuộn ngang nếu bị tràn */
  word-wrap: break-word;
}

.content-html-wrapper img,
.content-html-wrapper iframe,
.content-html-wrapper video {
  max-width: 100%;
  height: auto;
  display: block;
}